body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#header {
    margin: auto;
    width: 100%;
    height: auto;
    position: fixed;
    /* text-align: left; */
    top: 0%;
    background: rgba(50, 200, 50, 1);
}

#header > h2 {
    /* font-size: 24px; */
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
    color: white;
    font-style: bold;
}

#header > h5 {
    text-align: right;
    color: black;
    font: bold 64px arial;
}

#total {
    color: blue ;
    text-align: left;
    margin-top: 6%;
    margin-bottom: 0%;
}

#form-container {
    display: table;
    width: 50%;
    /* height: 30vh; */
    height: 50%;
    /* margin: 0 auto; */
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #808080;
    border-radius: 12px;
}

#form {
    overflow: scroll;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 50%;
    
}

#form > h3 {
    height: 32px;
    background-color: rgba(10, 255, 10, 0.5);
    align-self: auto;
    margin: 0 0 0 0;
}

#form > div {
    /* background-color: rgba(10, 255, 10, 0.5); */
    /* align-self: auto; */
    size: 64px;
}

#name, #photo {
    /* margin-right: 20px; */
    margin-top: 12px;
    margin-bottom: 6px;
    height: 32px;
    width: 50%;
    border-radius: 4px;
    border: 2px solid #808080;
}

#description {
    margin-top: 12px;
    margin-bottom: 6px;
    height: 200px;
    width: 50%;
    border-radius: 4px;
    border: 2px solid #808080;
}

#save {
    height: 40px;
    width: 420px;
    border-radius: 8px;
    margin-bottom: 12px;
    background: rgba(0, 200, 0, 1);
}

#form > div > label {
    align-content: left;
    text-align: left;
}

#table {
    /* margin: 10% 10% 0 10%; */
    /* margin: 0 0 0 0; */
    margin-top: -5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    height: 30%;
    overflow: auto;
}

#products {
    margin: 10% 5% 0 5%;
    width: 90%;
    height: 30%;
    overflow: auto;
}


#new-product {
    width: 100%;
    height: 64px;
    top: 0;
    bottom: 0;
}

#products td, #products th {
    border: 1px solid #ddd;
    padding: 8px;
}

#products tr {
    align-content: center;
}

#products tr:nth-child(even){background-color: #f2f2f2;}

#products tr:hover {background-color: #ddd;}

#products th {
    /* position: fixed; */
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(10, 255, 10, 0.5);
    color: white;
}

#table-title {
    align-content: center;
}

#footer {
    margin-top: 6%;
    width: 100%;
    background-color: rgba(50, 200, 50, 1);
    height: 64px;
    bottom: 0px;
}

#footer > p {
    margin: 0px;
    color: white;
    font: bold 16px arial;
}

.cname {
    width: 15%;
    text-align: center;
    font-style: bold;
}

.cdescription {
    width: 35%;
    font-size: 12px;
    text-align: justify;
}

.cphoto {
    width: 25%;
    text-align: center;
}

.cfeatured, .cedit, .cdelete {
    font-size: 16px;
    width: 5%;
    text-align: center;
}   